<!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    

    <div class="media border p-3" *ngFor="let tempBook of books" cdkDrag>
        <div class="book-box">
            <a routerLink='/book/{{tempBook.id}}'>
                <img src='{{ tempBook.cover }}' class="img-responsive">
            </a>
            <div class="media-body">
                <a routerLink='/book/{{tempBook.id}}'>
                    <h1 class="card-title">{{ tempBook.title }}</h1>
                </a>
                <p class="card-text">{{ tempBook.description }}</p>
                <div class="date">{{ tempBook.date }}</div>
                <a href="#">Add to list</a>
            </div>
        </div>
    </div>
</div>-->

    <div cdkDropList class="container mt-5 mb-5" (cdkDropListDropped)="drop($event)">
        <div class="movable-list">
            <div class="col-md-12">
                <div class="bg-white p-3 rounded mt-2">
                    <div class="row" *ngFor="let tempBook of books" cdkDrag>
                        <div class="col-md-2">
                            <!--<div class="d-flex flex-column justify-content-center align-items-center icon-container bg-success text-white mb-2"><i class="fa fa-flask fa-5x mb-3 mt-5"></i><span class="mb-4">Hands on Lab</span></div>-->
                            <a routerLink='/book/{{tempBook.id}}'>
                                <img src='{{ tempBook.cover }}' class="img-responsive cover-image">
                            </a>
                        </div>
                        <div class="col-md-6 border-right">
                            <div class="listing-title">
                                <h1 class="title"><b>{{tempBook.title}}</b></h1>
                            </div>
                            <div class="listing-title">
                                <h2 class="author">By: {{tempBook.authors[0]}}</h2>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                
                            </div>
                            <div class="description">
                                <!--Replace this with a function in the book class which will limit the number of characters being sent here.-->
                                <p class="description-text">{{tempBook.description}}</p>
                            </div>
                            
                        </div>
                        <div class="d-flex col-md-3">
                            <div class="d-flex flex-column justify-content-start other-info">
                                <div class="genre">
                                    <!--Replace this with a function in the book class which will avoid the comma on the last element.-->
                                    <!--<div class="genres">Genres: <div class="genrelist" *ngFor="let tempGenre of tempBook.genre">{{tempGenre}}, </div></div>-->
                                    <div class="genres">Genres: {{tempBook.getGenres()}}</div>
                                </div>
                                <div class="date">
                                    <p class="date-item">{{tempBook.date}}</p>
                                </div>
                                <div class="pages">
                                    <p class="page-item">{{tempBook.pages}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
