<!--<mat-toolbar color="primary">  
  <h1>  
  My Angular Store  
  </h1>  
  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>-->
<app-toolbar></app-toolbar>
<!--<mat-sidenav-container>
  
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content><app-sidebar></app-sidebar></mat-sidenav-content>
  <section>
    main content
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>-->

<!--<mat-toolbar>

  Responsive side navigation
  </mat-toolbar>-->
  
  <!-- <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8">
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

    </mat-sidenav>
      <mat-sidenav-content>
          <div class="content mat-elevation-z8">
              Main content here!
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container>

  <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section>Main</section>
  </mat-sidenav-container> -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="d-flex" id="wrapper">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shelf</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Info</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Main</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">End</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <mat-sidenav-container class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.youtube.com/watch?v=0oRc3QDJWwM">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.youtube.com/watch?v=0oRc3QDJWwM">Action</a>
                <a class="dropdown-item" href="https://www.youtube.com/watch?v=ShZ978fBl6Y">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </mat-sidenav-container>

      <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>Main Content</p>
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  
  