<!--<mat-toolbar color="primary">  
  <h1>  
  My Angular Store  
  </h1>  
  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>-->
<app-toolbar></app-toolbar>
<!--<mat-sidenav-container>
  
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content><app-sidebar></app-sidebar></mat-sidenav-content>
  <section>
    main content
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>-->

<!--<mat-toolbar>

  Responsive side navigation
  </mat-toolbar>-->

  <app-sidebar></app-sidebar>
