<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <mat-card class="example-card book-card" *ngFor="let tempBook of get">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{tempBook.title}}</mat-card-title>
                    <mat-card-subtitle>{{tempBook.getAuthors}}</mat-card-subtitle>
                    </mat-card-header>

                    <img mat-card-image src="{{tempBook.cover}}" alt="Cover image" class="cover img-thumbnail">

                    <mat-card-content>
                    <p>
                        {{tempBook.description.substr(0,200)}}
                    </p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button (click)="addToWant(tempBook.id)">WANT TO READ</button>
                        <button mat-button (click)="addToRead(tempBook.id)">READ</button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="items">
                            <!--<label>Item per page</label> 
                            <select (change)='updatePageSize($event.target)'>
                                <option selected="true">10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                            </select>-->
                            <mat-paginator [length]="100"
                                [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!--<div class="number">1 - 10 of 100</div>-->
                        <!--<ngb-pagination [(page)]='thePageNumber' [pageSize]='thePageSize' [collectionSize]='theTotalElements' (pageChange)='handleListBooks()'></ngb-pagination>-->
                        
                    </div>
                    <!--<div class="col-md-1">
                        <div class="arrows">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>